/*FB PANEL*/
.panel-left .toolbar-inner a {
	color: darkorange;
	display: block;
	width: 65px;
	text-align: center;
}

.navbar,.toolbar,.subnavbar,.searchbar {
	background: #1888df;
}

.floating-button {
	background-color: #1888df;
}

.iwb-click-user {
	color: darkorange !important;
}

.list-block ul:before {
	background-color: rgba(0, 0, 0, 0);
}

.ppic-mini {
	/*margin:3px 2px 2px 2px;border: 1px solid #AAA;*/
	border-radius: 50%;
	width: 22px;
	height: 22px;
	margin-bottom: -4px;
}

.ppic-mini2 {
	/*margin:3px 2px 2px 2px;border: 1px solid #AAA;*/
	border-radius: 50%;
	width: 34px;
	height: 34px;
	border: 1px solid rgba(0, 0, 0, .05);
}

.ppic-mini3 {
	border-radius: 50%;
	width: 38px;
	height: 38px;
	margin-top: 2px;
	border: 1px solid rgba(255, 255, 255, .05);
}

.message-avatar {
	width: 24px;
	height: 24px;
	margin-top: -24px;
}

.message-received.message-with-avatar .message-text,.message-received.message-with-avatar .message-name,.message-received.message-with-avatar .message-label
	{
	margin-left: 30px;
}

.message {
	max-width: 87%;
}

/*#0fa0e6; #2196f3*/
.card {
	margin: 7px 0px 0px 0px;
	border-radius: 0px;
	box-shadow: 0 7px 0px rgb(228, 228, 233);
}

.card-content-inner {
	padding: 10px;
}

.card-header {
	padding: 4px 10px;
}

.list-block .item-content {
	padding-left: 10px;
}

.list-block .item-media {
	min-width: 20px;
}

.list-block {
	margin: 16px 0;
}

.ks-parallax-slider {
	height: 100%;
}

.ks-parallax-slider .swiper-parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 130%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.ks-parallax-slider .swiper-slide {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
	color: #fff;
}

.ks-parallax-slider .swiper-slide-title {
	font-size: 41px;
	font-weight: 300;
}

.ks-parallax-slider .swiper-slide-subtitle {
	font-size: 21px;
}

.ks-parallax-slider .swiper-slide-text {
	font-size: 14px;
	max-width: 400px;
	line-height: 1.3;
}

.ks-facebook-card .card-header {
	display: block;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.01);
}

.ks-facebook-card .ks-facebook-avatar {
	float: left;
}

.ks-facebook-card .ks-facebook-name {
	margin-left: 44px;
	font-size: 15px;
	font-weight: 500;
}

.ks-facebook-card .ks-facebook-date {
	margin-left: 44px;
	font-size: 13px;
	color: #8e8e93;
}

.ks-facebook-card .card-footer {
	background: #fafafa;
}

.ks-facebook-card .card-footer a {
	color: #81848b;
	font-weight: 500;
}

.ks-facebook-card .card-content img {
	display: block;
}

.ks-facebook-card .card-content-inner {
	padding: 10px 10px 10px 10px;
	overflow: hidden;
}

.list-block .smart-select .item-after,.list-block .autocomplete-opener .item-after
	{
	font-size: 16px;
}

/*
#idx-chat-badge{
	font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
}
*/
.iwb-card-footer {
	border-top: 1px solid rgba(0, 0, 0, .1);
	padding-top: 11px;
	font-weight: 500;
	height: 20px;
}

.iwb-card-footer a {
	color: #666;
}

.iwb-card-footer img {
	border-radius: 50%;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(0, 0, 0, .05);
	margin-bottom: -4px;
	display: inline !important;
}
/*
.navbar-inner{
	background: linear-gradient(rgba(227, 227, 232,1), rgba(255,255,255,.9));
	-webkit-backdrop-filter: blur(3px);
	color:black;
}
*/
/*
.navbar-inner.iwb-navbar-form {
	background: linear-gradient(rgba(227, 227, 232,1), rgba(255,255,255,.9));
}

.navbar-inner.iwb-navbar-list {
	background: linear-gradient(rgba(227, 227, 232,1), rgba(255,255,255,.9));
}
*/
.iwb-navbar-list .center {
	width: 100%;
	text-align: center;
}
/*
.navbar-inner.iwb-navbar-chatw {
	background: rgba(248, 248, 248,.95);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
*/
.iwb-form-tab {
	background: linear-gradient(rgba(41, 44, 59, 0.051), rgba(0, 0, 0, 0));
	border-radius: 5px 5px 0px 0px;
	margin-left: 2px;
	margin-right: 2px;
}

.iwb-form-tab.iwb-type-11 {
	background: linear-gradient(rgba(0, 155, 255, 0.15), rgba(0, 0, 0, 0));
}

.iwb-form-tab .content-block-title {
	margin-bottom: 0px;
}
/*
.iwb-navbar-list .material-icons{
	color:#2196f3;
}

.navbar-inner .f7-icons{
	color:#2196f3;
}
*/
.iwb-mmenu-icon {
	font-size: 16px;
	color: #c4d5e2;
	width: 16px;
}

.speed-dial {
	/*	opacity:0.8;*/
	transition: opacity 400ms;
}

.speed-dial.speed-dial-opened {
	opacity: 1;
}

.no-navbar-by-scroll .speed-dial {
	opacity: 0;
	/*	right: -56px; */
}

/*
.floating-button{
	box-shadow: none; 
}

.floating-button{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.13), 0 3px 6px rgba(0, 0, 0, 0.17); 
}
.speed-dial-opened .floating-button{
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
}
*/
.iwb-label-0 {
	color: #2196f3;
	font-weight: normal;
	font-size: 13px;
	padding-top: 10px;
}

.iwb-label-1 {
	color: rgb(254, 112, 0);
	font-weight: normal;
	font-size: 13px;
	padding-top: 10px;
}

.iwb-label-2 {
	color: red;
	font-weight: normal;
	font-size: 13px;
	padding-top: 10px;
}

.panel-left {
	background: #13558c; /*rgb(53, 56, 72);*/
}

.panel-left .page {
	background: none;
}

.panel-left .navbar-inner {
	background: linear-gradient(rgb(0, 0, 0), rgb(18, 81, 133));
	color: white;
}

.panel-left .page-content {
	/*	background-color: #2c3135;*/
	
}

.iwb-menu-folder {
	background-color: rgba(0, 0, 5, .1);;
	color: white;
}

.iwb-menu-url {
	background-color: rgba(240, 240, 255, .05);
	color: white;
}

.iwb-menu-murl {
	background-color: rgba(0, 0, 0, .05);
	color: white !important;
}

/*
.views .navbar .left, .views .navbar .right {
	transition: opacity 300ms
}
.navbar.navbar-hidden {
    -webkit-transition-duration: 400ms;
    transition-duration: 300ms;
    -webkit-transform: translate3d(0, -28px, 0);
    transform: translate3d(0, -28px, 0);
}

.navbar-hidden .left, .navbar-hidden .right {
	opacity:0;
}
*/
.navbar-hidden .navbar-inner.iwb-navbar-list {
	/*    background: rgba(227, 227, 232, .9);
    border-bottom: 1px solid rgba(0,0,0,.01);*/
	
}

.popover {
	width: auto;
	right: 8px;
	border-radius: 5px;
}

/*
iwb-logo colors
blue:#009dc3
gray:#7f8184
orange:#fdbb46
*/
.panel-right .navbar-inner .left {
	/*	left: 13px;*/
	font-size: 20px;
	padding-left: 10px;
}

.panel-right.panel-reveal .page {
	background: rgb(62, 64, 70);
	color: white;
}

.panel-right.panel-reveal .navbar {
	background: linear-gradient(rgb(0, 0, 0), rgb(62, 64, 70));
}

.panel-right.panel-reveal .list-block ul {
	background: none;
}

.panel-right.panel-reveal .list-block .item-inner:after {
	content: none;
}

.panel-right.panel-reveal .list-block.media-list .item-media,.list-block li.media-item .item-media
	{
	padding-top: 2px;
	padding-bottom: 6px;
}

.panel-right.panel-reveal #idx-right-reload {
	display: none;
}

.with-panel-left,.with-panel-right {
	background: black;
	color: white;
}

.panel-left .list-block ul {
	background-color: inherit;
}

.statusbar-overlay {
	background: rgb(227, 227, 232);
}

.iwb-mmenu-icon {
	color: darkorange; /*#b97a2d;*/
}

.iwb-card-photos {
	height: 50vw;
	background-size: cover;
	background-position: center;
	margin-left: -10px;
	margin-right: -10px;
}

.panel-left .toolbar:before {
	content: none;
}

.panel-left .list-block .item-inner:after {
	content: none;
}

.panel-left .list-block .item-content {
	padding-left: 12px;
}

#mlist-15-view .navbar-inner {
	background: inherit;
}

.material-icons .badge,.f7-icons .badge {
	font-family: Roboto, Noto, Helvetica, Arial, sans-serif;
}

.panel-right.panel-cover .navbar,.panel-right.panel-cover .searchbar {
	background: gray;
}

.picker-calendar-day.picker-calendar-day-selected span {
	background: rgba(253, 186, 49, 1);
	color: white;
}

#ks-calendar-inline-container .picker-calendar {
	height: 280px;
}

.tabbar .tab-link-highlight {
	background: darkorange;
}