.iwb-click-user {
	color: darkorange !important;
}

.list-block ul:before {
	background-color: rgba(0, 0, 0, 0);
}

.panel-left .list-block ul {
	background-color: inherit;
}

.statusbar-overlay {
	background: rgb(227, 227, 232);
}

.iwb-mmenu-icon {
	font-size: 16px;
	/*color:#c4d5e2; */
	color: #b97a2d;
	width: 16px;
}

.panel-left {
	-webkit-backdrop-filter: blur(3px);
	background: rgba(53, 56, 72, 0.9);
}

.panel-left .page,.panel-left .pages {
	background: none;
}

.panel-left .navbar-inner {
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .2));
	color: white;
}

.panel-left .page-content {
	/*	background-color: #2c3135;*/
	
}

.iwb-menu-folder {
	background-color: rgba(0, 0, 5, .3);;
	color: white;
}

.iwb-menu-folder .item-title {
	font-size: 18px;
}

.iwb-menu-url {
	background-color: rgba(240, 240, 255, .1);
	color: white;
	font-size: 16px;
}

.iwb-menu-url .item-title {
	font-size: 17px;
}

.iwb-menu-murl {
	background-color: rgba(0, 0, 0, .2);
	color: white !important;
}

.navbar-inner .f7-icons {
	color: #007aff;
}

.panel-left .navbar-inner .f7-icons {
	color: white;
}

.speed-dial {
	transition: opacity 400ms;
}

.no-navbar-by-scroll .speed-dial {
	opacity: 0;
}

.iwb-label-0 {
	color: #007aff;
	font-weight: normal;
	font-size: 13px;
	padding-top: 10px;
}

.iwb-label-1 {
	color: rgb(254, 112, 0);
	font-weight: normal;
	font-size: 13px;
	padding-top: 10px;
}

.iwb-label-2 {
	color: red;
	font-weight: normal;
	font-size: 13px;
	padding-top: 10px;
}

.navbar {
	background: none;
}

#idx-list-14 .toolbar {
	background: rgba(255, 255, 255, .5);
	-webkit-backdrop-filter: blur(3px);
}

.card {
	margin: 7px 0px 0px 0px;
	border-radius: 0px;
	box-shadow: 0 7px 0px rgb(228, 228, 233);
}

.card-content-inner {
	padding: 10px;
}

.card-header {
	padding: 4px 10px;
}

.list-block .item-content {
	padding-left: 10px;
}

.list-block .item-media {
	min-width: 20px;
}

.list-block {
	margin: 0;
}
/*
.navbar-inner{
    background: linear-gradient(rgba(227, 227, 232,1), rgba(255,255,255,.9));
}
*/
.views .navbar,.login-screen .navbar {
	/*background: linear-gradient(rgba(227, 227, 232,.6), rgba(227, 227, 232,.6));*/
	background: linear-gradient(rgba(227, 227, 232, 1),
		rgba(255, 255, 255, .9));
	-webkit-backdrop-filter: blur(5px);
	/*	color:black; */
}

.navbar-inner.iwb-navbar-dlist {
	background: linear-gradient(rgba(227, 227, 232, 1), rgb(201, 201, 206));
}

/* ks cards*/
.ks-facebook-card .card-header {
	display: block;
	padding: 8px;
	background-color: rgba(0, 0, 255, 0.01);
}

.ks-facebook-card .ks-facebook-avatar {
	float: left;
}

.ks-facebook-card .ks-facebook-name {
	margin-left: 44px;
	font-size: 15px;
	font-weight: 500;
}

.ks-facebook-card .ks-facebook-date {
	margin-left: 44px;
	font-size: 13px;
	color: #8e8e93;
}

.ks-facebook-card .card-footer {
	background: #fafafa;
}

.ks-facebook-card .card-footer a {
	color: #81848b;
	font-weight: 500;
}

.ks-facebook-card .card-content img {
	display: block;
}

.ks-facebook-card .card-content-inner {
	padding: 10px 10px 10px 10px;
	overflow: hidden;
}

.iwb-form-tab {
	background: linear-gradient(rgba(41, 44, 59, 0.051), rgba(0, 0, 0, 0));
	border-radius: 15px 15px 0px 0px;
	margin-left: 2px;
	margin-right: 2px;
}

.iwb-form-tab .content-block-title {
	margin-bottom: 0px;
	padding-top: 12px;
}

.item-title.iwb-checkbox-label {
	margin-top: -23px;
	margin-left: 60px;
	color: rgba(0, 0, 0, 0.7);
	overflow: inherit;
	font-size: 16px;
}

.item-title.label {
	opacity: .9;
	font-size: .9em;
}

.ppic-mini {
	/*margin:3px 2px 2px 2px;border: 1px solid #AAA;*/
	border-radius: 2px;
	width: 20px;
	height: 20px;
	margin-bottom: -4px;
}

.ppic-mini2 {
	/*margin:3px 2px 2px 2px;border: 1px solid #AAA;*/
	border-radius: 17px;
	width: 34px;
	height: 34px;
	border: 1px solid rgba(0, 0, 0, .05);
}

.message-avatar {
	width: 24px;
	height: 24px;
	margin-top: -24px;
}

.panel-left .list-block .item-inner:after,.panel-left .list-block ul:after
	{
	/*	content:none;*/
	background: rgba(255, 255, 255, .1);
}

.panel-left .list-block li li:last-child .item-inner:after,.panel-left .list-block li:last-child li .item-inner:after
	{
	/*	content:none;*/
	background: rgba(255, 255, 255, .1);
}

.message {
	max-width: 75%;
}

.ppic-mini3 {
	border-radius: 19px;
	width: 38px;
	height: 38px; /*margin-top: 2px;*/
	border: 1px solid rgba(255, 255, 255, .05);
}

.panel-right.panel-reveal .navbar-inner {
	background: linear-gradient(rgba(0, 0, 0, 1), rgba(53, 56, 72, .95));
	-webkit-backdrop-filter: blur(3px);
	color: white; /*rgb(93, 136, 244);*/
}

.panel-right.panel-reveal .page {
	background: rgba(53, 56, 72, 1);
	color: white;
}

.panel-right.panel-reveal .list-block ul {
	background: none;
}

.panel-right.panel-reveal .list-block .item-inner:after {
	content: none;
}

.panel-right.panel-reveal .navbar-inner .left {
	/*	left: 13px;*/
	font-size: 20px;
	padding-left: 10px;
}

.panel-right.panel-reveal .list-block.media-list .item-media,.list-block li.media-item .item-media
	{
	padding-top: 2px;
	padding-bottom: 6px;
}

.panel-right.panel-cover {
	border-left: 1px solid rgba(255, 255, 255, .8);
}

.panel-right.panel-reveal #idx-right-reload {
	display: none;
}

.with-panel-left,.with-panel-right {
	background: black;
	color: white;
}

.checkbox {
	zoom: .85;
	margin-top: 3px !important;
	margin-left: 5px !important;
}

.iwb-card-footer {
	border-top: 1px solid rgba(0, 0, 0, .1);
	padding-top: 11px;
	font-weight: 500;
	height: 20px;
}

.iwb-card-footer img {
	border-radius: 8px;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(0, 0, 0, .05);
	margin-bottom: -4px;
	display: inline !important;
}

.message-received.message-with-avatar .message-text {
	margin-left: 24px;
}

.iwb-card-photos {
	height: 50vw;
	background-size: cover;
	background-position: center;
	margin-left: -10px;
	margin-right: -10px;
}

.modal-overlay.modal-overlay-visible {
	-webkit-backdrop-filter: grayscale(100%);
}
/*
.panel {
	width:280px;
}*/
.panel-left .toolbar:before {
	content: none;
}

.panel-left .list-block .item-inner:after {
	content: none;
}

.panel-left .list-block .item-content {
	padding-left: 12px;
}

.page[data-page="mlist-15-view"] .navbar {
	background: linear-gradient(#efeff4, rgb(243, 243, 243));
}
/*
.speed-dial-opened .floating-button{
	background-color: #e4e4e9;
	width:30px;height:30px;
}

.tabbar-labels {
    height: 52px;
}*/
.tabbar-labels a.tab-link,.tabbar-labels a.link {
	padding-top: 5px;
}